html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

html,
body {
  height: 100%;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/*
   Print styles.
 */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.page {
  display: flex;
  flex-flow: column;
  min-height: 100%;
}

.page.login .main,
.page.registration .main {
  display: flex;
  align-items: center;
}

.header {
  flex-shrink: 0;
}

.main {
  flex: 1 0 auto;
  padding: 40px 0;
}

.footer {
  align-self: flex-end;
  flex-shrink: 0;
  width: 100%;
}

.navbar-collapse {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
/*
 Advantages
*/
.advantages {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 2rem;
}

.banner {
  margin: 1rem 0 2rem;
}

.banner-img {
  max-width: 100%;
}
/*
 Form Login
*/
.form-login,
.form-registration {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-login .row,
.form-registration .row {
  margin-bottom: 1rem;
}
.form-login .form-control,
.form-registration .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-login .form-control:focus,
.form-registration .form-control:focus {
  z-index: 2;
}
.form-login input[type="email"],
.form-registration input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"],
.form-registration input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.todo-lists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.todo-lists-item {
  width: 100%;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports that meet the condition */
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .todo-lists-item {
    padding-bottom: 20px;
    position: relative;
    width: 30%;
  }
  .todo-lists-item .card-link {
    position: absolute;
    bottom: 1rem;
  }
}

@media only screen and (min-width: 992px) {
  /* Style adjustments for viewports that meet the condition */
  .navbar-collapse {
    padding: 0;
    margin-top: 0;
    border: 0;
  }
}

.todo-list {
  max-width: 330px;
  margin: 0 auto;
}

.page.list-item .title h1 {
  text-align: center;
  width: 100%;
}

.todo-list-item--done {
  color: #999;
}

.todo-list-item--done .todo-list-item-text {
  text-decoration: line-through;
}

.todo-list-item {
  display: flex;
  flex-wrap: nowrap;
}

.todo-list-item-text {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
}
.todo-list-item-text > span {
  display: block;
  min-height: 20px;
}
.todo-list-item-checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 1px solid #ededed;
  position: relative;
  margin-right: 10px;
  vertical-align: middle;
  text-align: center;
}

